html body {
  background-image: url('http://durandfd.org/site-content/uploads/2015/04/blue_cloth_repeatable.png') !important;
}

.header {
    background-color: rgba(75, 75, 75, 0.69);
    padding-top: .5%;
}

.back {
  background-color: rgba(56, 87, 167, 0.9) !important;
}

.white {
  color: white;
}
